{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>
      Text Away {{request.user.first_name}} {{request.user.last_name}}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet" />
    <!--<link rel="stylesheet" href="{%static 'chatInterface.css'%}">-->
    <link href="{% static 'chat.css' %}" rel="stylesheet" />  
    <link href="{% static 'chat_mobile.css' %}" rel="stylesheet" />  
      
  </head>
  <body>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <div class="container app">
      <div class="row app-one">
        <div class="col-sm-4 side">
          <div class="side-one">
            <select
              class="optionbox"
              multiple
              aria-label="multiple select example">
              <option id="editpp">Edit Profile</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3" id="logout">Log out</option>
            </select>
            <div class="row heading">
              <div class="col-sm-3 col-xs-3 heading-avatar">
                <div class="heading-avatar-icon">
                  <img src="{{request.user.picture.url}}" />
                </div>
              </div>

              <div class="col-sm-1 col-xs-1 heading-dot pull-right">
                <i
                  class="fa fa-ellipsis-v fa-2x pull-right"
                  aria-hidden="true"></i>
              </div>
              <div class="col-sm-2 col-xs-2 heading-compose pull-right">
                <i
                  class="fa fa-comments fa-2x pull-right"
                  aria-hidden="true"></i>
              </div>
            </div>
            
            <div class="row searchBox">
              <div class="col-sm-12 searchBox-inner">
                <div class="form-group has-feedback">
                  <input
                    id="searchText"
                    type="text"
                    class="form-control"
                    name="searchText"
                    placeholder="Search" />
                  <span
                    class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
              </div>
            </div>
            <div class="row sideBar">
              {% for i in chatusers %}
              <a href="/chat/{{i.id}}/" class="clickable-div1">
                <div class="row sideBar-body">
                  <div class="col-sm-3 col-xs-3 sideBar-avatar">
                    <div class="avatar-icon">
                      <img src="{{i.picture.url}}" />
                    </div>
                  </div>
                  <div class="col-sm-9 col-xs-9 sideBar-main">
                    <div class="row">
                      <div class="col-sm-8 col-xs-8 sideBar-name">
                        <span class="name-meta">{{i.username}} </span>
                      </div>
                      <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                        <span class="time-meta pull-right">18:18 </span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>

              {%endfor%}
            </div>
          </div>
          <div class="side-two">
            <div class="row newMessage-heading">
              <div class="row newMessage-main">
                <div class="col-sm-2 col-xs-2 newMessage-back">
                  <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </div>
                <div class="col-sm-10 col-xs-10 newMessage-title">New Chat</div>
              </div>
            </div>
            <div class="row composeBox">
              <div class="col-sm-12 composeBox-inner">
                <div class="form-group has-feedback">
                  <input
                    id="composeText"
                    type="text"
                    class="form-control"
                    name="searchText"
                    placeholder="Search People" />
                  <span
                    class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
              </div>
            </div>
            <div class="row compose-sideBar">
              {% for i in users%}
              <a href="/chat/{{i.id}}/" class="clickable-div2">
                <div class="row sideBar-body">
                  <div class="col-sm-3 col-xs-3 sideBar-avatar">
                    <div class="avatar-icon">
                      <img src="{{i.picture.url}}" />
                    </div>
                  </div>

                  <div class="col-sm-9 col-xs-9 sideBar-main">
                    <div class="row">
                      <div class="col-sm-8 col-xs-8 sideBar-name">
                        <span class="name-meta">{{i.username}} </span>
                      </div>
                      <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                        <span class="time-meta pull-right">18:18 </span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              {%endfor%}
            </div>
          </div>
        </div>
        <div class="col-sm-8 conversation">
          <div class="row heading">
            <div class="col-sm-2 col-md-1 col-xs-3 heading-avatar">
              <div class="heading-avatar-icon">
                <img src="{{ chatuser.picture.url}}" />
              </div>
            </div>
            <div class="col-sm-8 col-xs-7 heading-name">
              <a class="heading-name-meta">{{chatuser.username}} </a>
              <span class="heading-online">Online</span>
            </div>
            <div class="col-sm-1 col-xs-1 heading-dot pull-right">
              <i
                class="fa fa-ellipsis-v fa-2x pull-right"
                aria-hidden="true"></i>
            </div>
          </div>
          <div class="row message" id="conversation">
            <div class="row message-previous">
              <div class="col-sm-12 previous" id="previous">
                <a onclick="previous(this)" id="ankitjain28" name="20">
                  Show Previous Message!
                </a>
              </div>
            </div>
            {% for m in messages %}
            {% if m.sender.id == chatuser.id %}
                <div class="row message-body ">
                    <div class="col-sm-12 message-main-receiver ">
                        <div class="receiver {% if m.spam %}spam{% else %}{{ "" }}{% endif %}">
                            {% if m.attachment %}
                                <div id="mid{{ m.id }}" class="message-text">
                                    {% if m.attachment.url|slice:"-4:" == ".jpg" or m.attachment.url|slice:"-5:" == ".jpeg" or m.attachment.url|slice:"-4:" == ".png" or m.attachment.url|slice:"-4:" == ".gif" or m.attachment.url|slice:"-5:" == ".webp" %}
                                        <a href="{{ m.attachment.url }}">
                                            <img src="{{ m.attachment.url }}" id="image{{ m.id }}" alt="Attachment for message {{ m.id }}" style="max-width: 200px; height: auto;">
                                        </a>
                                    {% elif m.attachment.url|slice:"-4:" == ".mp4" or m.attachment.url|slice:"-5:" == ".webm" or m.attachment.url|slice:"-4:" == ".ogg" %}
                                        <video controls style="max-width: 200px; height: auto;">
                                            <source src="{{ m.attachment.url }}" type="video/{{ m.attachment.url|slice:"-3:" }}">
                                            Your browser does not support the video tag.
                                        </video>
                                    {% elif m.attachment.url|slice:"-5:" == ".html" or m.attachment.url|slice:"-4:" == ".pdf" %}
                                        <a href="{{ m.attachment.url }}" target="_blank">{{ m.attachment.url }}</a>
                                    {% else %}
                                        <a href="{{ m.attachment.url }}" target="_blank">{{ m.attachment.url }}</a>
                                    {% endif %}
                                </div>
                            {% else %}
                                <div id="mid{{ m.id }}" class="message-text">{{ m.message }}</div>
                            {% endif %}
                            <span class="message-time pull-right">{{ m.time_sent }}</span>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row message-body ">
                    <div class="col-sm-12 message-main-sender ">
                        <div class="sender {% if m.spam %}spam{% else %}{{ "" }}{% endif %}">
                            {% if m.attachment %}
                                <div id="mid{{ m.id }}" class="message-text">
                                    {% if m.attachment.url|slice:"-4:" == ".jpg" or m.attachment.url|slice:"-5:" == ".jpeg" or m.attachment.url|slice:"-4:" == ".png" or m.attachment.url|slice:"-4:" == ".gif" or m.attachment.url|slice:"-5:" == ".webp" %}
                                        <a href="{{ m.attachment.url }}">
                                            <img src="{{ m.attachment.url }}" id="image{{ m.id }}" alt="Attachment for message {{ m.id }}" style="max-width: 200px; height: auto;">
                                        </a>
                                    {% elif m.attachment.url|slice:"-4:" == ".mp4" or m.attachment.url|slice:"-5:" == ".webm" or m.attachment.url|slice:"-4:" == ".ogg" %}
                                        <video controls style="max-width: 200px; height: auto;">
                                            <source src="{{ m.attachment.url }}" type="video/{{ m.attachment.url|slice:"-3:" }}">
                                            Your browser does not support the video tag.
                                        </video>
                                    {% elif m.attachment.url|slice:"-5:" == ".html" or m.attachment.url|slice:"-4:" == ".pdf" %}
                                        <a href="{{ m.attachment.url }}" target="_blank">{{ m.attachment.url }}</a>
                                    {% else %}
                                        <a href="{{ m.attachment.url }}" target="_blank">{{ m.attachment.url }}</a>
                                    {% endif %}
                                </div>
                            {% else %}
                                <div id="mid{{ m.id }}" class="message-text">{{ m.message }}</div>
                            {% endif %}
                            <span class="message-time pull-right">{{ m.time_sent }}</span>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        
        

         </div>
          <div class="row reply ">
            <div class="col-sm-1 col-xs-1 reply-emojis">
              <i class="fa fa-smile-o fa-2x"></i>
            </div>
            <form
              action="/chat/{{chatuser.id}}/"
              method="post"
              enctype="multipart/form-data"
              id="attachmentForm">
              {% csrf_token %}
              <div class="col-sm-9 col-xs-9 reply-main">
                <textarea
                  class="form-control"
                  name="message"
                  rows="1"
                  id="comment"></textarea>
              </div>
              <div class="col-sm-1 col-xs-1 reply-recording">
                <label for="fileInput">
                  <i class="fa fa-paperclip fa-2x" aria-hidden="true"></i>
                </label>
                <input
                  type="file"
                  id="fileInput"
                  name="picturefile"
                  style="display: none" />
              </div>
              <div class="col-sm-1 col-xs-1 reply-send">
                <button type="submit" class="btn btn-primary s">
                  <i class="fa fa-send"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="profileusername">
          <a><h4 style="font-family: Lucida Console,Monospace;">{{request.user.username}} </h4></a>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript"></script>

    <script src="{% static 'showchat.js' %}"></script> 

    <script src="{% static 'submitchat.js' %}"></script>
    <script src="{% static 'clickevents.js' %}"></script>
    <script>
      function getMaxMessageId() {
        // Get all elements that match the pattern
        const messageElements = document.querySelectorAll('[id^="mid"]');
        let maxId = -1; // Initialize maxId to a small number
    
        messageElements.forEach(element => {
            // Extract the number from the id
            const id = parseInt(element.id.replace('mid', ''), 10);
            if (!isNaN(id) && id > maxId) {
                maxId = id; // Update maxId if a larger number is found
            }
        });
        console.log("{% url 'get_chat' chatuser.id %}?maxid="+maxId);
        return "{% url 'get_chat' chatuser.id %}?maxid="+maxId;
    }
      
      var redirectUrl = "{% url 'logout' %}";
     
      var editprofileurl = "{% url 'editprofile'  %}";
      
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {});
    </script>
    <script src="{% static "searchbar.js" %}"> </script>
  </body>
</html>
